.question-card {
  background-color: #fff;
  padding-inline: 0.75rem;
  padding-block: 1.25rem;
  width: 100%;
  max-width: 64rem;

  display: none;
}

/* ?========================== Progress Bar ========================== */

.questions-progress {
  width: 100%;
  border-radius: 100vw;
  overflow: hidden;
  background-color: var(--light-gray);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.5s ease;

  &[value]::-webkit-progress-bar {
    background-color: var(--light-gray);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
  }
  &[value]::-webkit-progress-value {
    background-color: var(--primary);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
  }
  &[value]::-moz-progress-bar {
    background-color: var(--primary);
    transition: width 0.5s ease;
  }
}

/* ?========================== Question Header ========================== */
.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.question-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* ?========================== Timer ========================== */
.circular-progress {
  position: relative;
  width: 50px;
  height: 50px;
}
.progress-ring {
  transform: rotate(-90deg); /* Start from top */
}
.track {
  fill: none;
  stroke: #eee;
  stroke-width: 6;
}
.timer-progress {
  fill: none;
  stroke: var(--primary);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 125.66;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}
#timeLeft {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}

/* ?======================== Question ========================= */
.question-wrapper {
  padding-block: 1.5rem;
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
}
.question-title {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}
.question-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1.25rem;
}
.question-option {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;

  border: 2px solid var(--border);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--light-gray);
  }
}
.question-wrapper .question-option.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
.question-option .letter {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--border);

  flex-shrink: 0;
}

.question-option.correct {
  background-color: var(--success);
  color: #fff;
}

.question-option.wrong {
  background-color: var(--fail);
  color: #fff;
}
/* ?======================== Action Buttons ========================= */
.action-btns-wrapper {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .btn {
    padding: 0.875rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.2s ease;

    align-self: center;
  }

  .next-question-btn {
    background-color: var(--primary);
    &:hover {
      background-color: rgba(124, 58, 237, 0.8);
    }

    &:disabled {
      background-color: rgba(124, 58, 237, 0.5);
      cursor: not-allowed;
    }
  }

  .quit-btn {
    background-color: var(--fail);
    &:hover {
      background-color: rgba(239, 68, 68, 0.8);
    }
  }
}
